---
---

@import "mixins";

/* Intro */
.intro {
    .main{
        font-size: 5rem;
        font-family: 'Sriracha', cursive;
        line-height: 1.2em;
        @include desktop{
            font-size: 5.6rem;
            line-height: 1.3em;
        }
    }
    .text3d {
      @include threedee(#6d879d); //Change only this color and apply the class in your HTML
    }
}

#TCV{
    font-size:.75rem;
    .card-block{
        padding: .5rem;
    }
}

@import "style";