{% comment %}
  main = true
{% endcomment %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

{% if include.main == true %}
    <link rel="stylesheet" href="/css/main.css"> 
{% else %}
    <link rel="stylesheet" href="/css/style.css">
{% endif %}

{% include i_async.html href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %}

{% include i_async.html href="https://fonts.googleapis.com/css?family=Inconsolata|Sriracha" %}