{% comment %}
  main = true
{% endcomment %}

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

{% if include.main == true %}

{% else %}
    <script async src="/js/sh.js"></script>    
{% endif %}
<script async src="/js/myjs.js"></script>
<!--[if lt IE 9]>
<script async src="/js/html5shiv.min.js"></script>
<script async src="/js/respond.min.js"></script>
<!-[endif]-->
