{% comment %}
  include.data=site.data.word 
  include.posts=site.word 
  include.path="/word/"
{% endcomment %}
<div class="container-fluid text-justify mt-3"><!-- Page Content -->
    <div class="row"><!-- Content Row -->
        <div class="col-lg-3 col-sm-4"><!-- Blog Sidebar Widgets Column -->
            {% include p_sidebar.html data=include.data posts=include.posts path=include.path %}
        </div><!-- /sidebar -->
        <div class="col-lg-9 col-sm-8"><!-- Blog Post Content Column -->
            <div class="pull-right gitedit">
                <a href="{{ site.repository }}/edit/master/{{ page.path }}"><i class="fa fa-pencil"></i> Sửa<span class="hidden-xs-down">&nbsp;trang này</span></a>
            </div>
            <h1>{{ page.title }}</h1>
            {% include breadcrumbs.html posts = include.posts %}
            <div id="main-content">
                {{ content }}    
            </div>
            {% include social.html %}
        </div> <!-- / blog -->      
    </div><!-- /.row -->    
</div><!-- /.container -->
