{% comment %}
    data = site.data.home_items
{% endcomment %}

<div class="container" markdown="0">
    <div class="row">
        {% for item in include.data %}
        <div class="col-md-6 col-lg-4 mt-4">
            <div class="card text-center">
                {% include image.html url = item.image alt = item.title style = item.style class="mx-auto d-block" %}
                <div class="card-block">
                    <h4 class="card-title">{{ item.title }}</h4>
                    <p class="card-text">{{ item.content }}</p>
                </div>
                <div class="card-footer">
                    {% for link in item.links %}
                        <a href="{{ link.url }}" class="{{ link.class }}">{{ link.text }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>