{% comment %}
    include.name = name.Q
    include.value = item.Q
    include.type = "email"
{% endcomment %}
{% if include.value != '' %}
    <tr>
        <td style="text-align: right;"><b>{{ include.name }}: </b></td>
        <td style="width: 50%;">
            {% case include.type %}
            {% when 'phone' %}
                <a href="tel:0{{ include.value }}">0{{ include.value }}</a>
            {% when 'email' %}
                <a href="mailto:{{ include.value }}">{{ include.value }}</a>
            {% else %}
                {{ include.value }}
            {% endcase %}
        </td>
    </tr>
{% endif %}