$blue-gray: #34495e;
$blue-gray-darken: #2c3e50;
$blue: #3498db;
$blue-darken: #2980b9;
$green: #1abc9c;
$green-darken: #16a085;
$b-size: 30px;

.breadcrumb {
    font-size: .8rem;
    list-style: none;
    padding: 0px;
    background: #FFF;
    display: flex;
    overflow-x: auto;
    
    .breadcrumb-item {
        float: left;
        color: #FFF;
        white-space: nowrap;
        background: $blue;
        text-decoration: none;
        position: relative;
        height: $b-size;
        line-height: $b-size;
        padding: 0 10px 0 5px;
        margin-right: $b-size/ 2 + 3;

        &:nth-child(even) {
            background-color: $blue-darken;

            &:before {
                border-color: $blue-darken;
                border-left-color: transparent;
            }
            &:after {
                border-left-color: $blue-darken;
            }
        }
        &:first-child {
            padding-left: $b-size / 8 * 3;
            @include border-radius(4px 0 0 4px);

            &:before {
                border: none;
            }
        }
        &:last-child {
            @include border-radius(0 4px 4px 0);
            // width: 100%;
            margin-right: 0px;
            &:after {
                border: none;
            }
        }

        &:before, &:after {
            content: "";
            position: absolute;
            top: 0;
            border: 0 solid $blue;
            border-width: $b-size/2 $b-size/4;
            width: 0;
            height: 0;
        }
        &:before {
            left: -$b-size / 2;
            border-left-color: transparent;
            padding: 0px;
        }
        &:after {
            left: 100%;
            border-color: transparent;
            border-left-color: $blue;
        }
        &:not(:last-child){
            &:hover {
                background-color: $green;

                &:before {
                    border-color: $green;
                    border-left-color: transparent;
                }
                &:after {
                    border-left-color: $green;
                }
            }
            &:active {
                background-color: $green-darken;

                &:before {
                    border-color: $green-darken;
                    border-left-color: transparent;
                }
                &:after {
                    border-left-color: $green-darken;
                }
            }     
        }   
    }
}