---
layout: default
title: Links kiểm tra
script: |
  <script>
    $(document).ready(function () {
      var iframeContainer = $("#iframeContainer");
      var container = $("#container");
      var iframe = $("#iframe");
      $("#linksContainer a.msform").click(function (e) {
        e.preventDefault();
        container.addClass("d-none");
        iframeContainer.removeClass("d-none");
        var oldSrc = iframe.attr("src");
        var newSrc = oldSrc.replace(/id\=.+\&/gm, "id=" + $(this).attr("href") + "&");
        iframe.attr("src", newSrc);
        window.history.pushState('forward', null, './');
      });

      if (window.history && window.history.pushState) {
        $(window).on('popstate', function () { //back button clicked
          iframeContainer.addClass("d-none");
          container.removeClass("d-none");
        });
      }
    });
  </script>
---
<div id="iframeContainer" class="container-fluid d-none" markdown="0">
  <div class="row">
    <iframe id="iframe" width="100%" height="100%" src="https://forms.office.com/Pages/ResponsePage.aspx?id=???&embed=true" frameborder="0" marginwidth="0" marginheight="0"
      allowfullscreen webkitallowfullscreen mozallowfullscreen msallowfullscreen>
    </iframe>
  </div>
</div>

<div class="container" id="container">
  <h2 class="text-center">Links kiểm tra thường xuyên các lớp của thầy Hoàn Chân</h2>
  <div class="row">
    <div class="col-lg-4 py-1 px-3">
      <a class="btn btn-block btn-danger" href="https://drive.google.com/file/d/19pAdYylCUXnQkhtwvbKG3XYG1b6hGx-i/view">Danh sách MSHS các lớp</a>
    </div>
    <div class="col-lg-4 py-1 px-3">
      <a class="btn btn-block btn-success" href="https://www.dropbox.com/s/vprc3ib68pkag4g/B%E1%BA%A3ng%20%C4%91i%E1%BB%83m%20chi%20ti%E1%BA%BFt.xlsx?dl=0">Bảng điểm chi tiết HKI</a>
    </div>
    <div class="col-lg-4 py-1 px-3">
      <a class="btn btn-block btn-primary" href="https://www.dropbox.com/s/1yrvfypb2szxmnn/B%E1%BA%A3ng%20%C4%91i%E1%BB%83m%20chi%20ti%E1%BA%BFt%20HKII.xlsx?dl=0">Bảng điểm chi tiết HKII</a>
    </div>
  </div>
  <div class="row" id="linksContainer">
    <div class="col-lg-6">
      <div class="card text-dark bg-light">
        <div class="card-header bg-dark text-center text-light">
          <h4 class="text-white mb-0">Khối 12</h4>
        </div>
        <div class="card-body ">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Học kỳ I</h5>
              <p class="card-text">Có 3 cột điểm kiểm tra thường xuyên, 1 cột kiểm tra giữa kỳ và 1 cột kiểm tra cuối kỳ.</p>
            </div>
            <ul class="list-group list-group-flush">
              {% include item_kt.html  
                style = "primary" 
                name = "Kiểm tra lần 1 - Bài 1 + 2" 
                badge = "Tháng 09"
                link = "DXyc3CXGnUGdd0vUJ4tdGek1XC3to9JMhpfKl3AEZphURDlRTjA1RFoyRUE0OEI4QUxaWTRUTFFOWi4u"
              %}
              {% include item_kt.html  
                style = "danger" 
                name = "Kiểm tra lần 2 - Table" 
                badge = "Tháng 10"
                link = ""
              %}
              {% include item_kt.html  
                style = "success" 
                name = "Kiểm tra lần 3 - Form" 
                badge = "Tháng 11"
                link = ""
              %}
              {% include item_kt.html  
                style = "info" 
                name = "Kiểm tra lần 4 - Query" 
                badge = "Tháng 12"
                link = ""
              %}
            </ul>
          </div>
          <hr>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Học kỳ II</h5>
              <p class="card-text">Có 3 cột điểm kiểm tra thường xuyên, 1 cột kiểm tra giữa kỳ và 1 cột kiểm tra cuối kỳ.</p>
            </div>
            <ul class="list-group list-group-flush">
              {% include item_kt.html  
                style = "primary" 
                name = "Kiểm tra lần 5 - CSDLQH Lý thuyết" 
                badge = "Tháng 01"
                link = "DXyc3CXGnUGdd0vUJ4tdGek1XC3to9JMhpfKl3AEZphUNDFTNlhCUkw4QVpYMzhQU01QMk1ESFRVRC4u"
              %}
              {% include item_kt.html  
                style = "danger" 
                name = "Kiểm tra lần 6 - CSDLQH Thực hành" 
                badge = "Tháng 02"
                link = "DXyc3CXGnUGdd0vUJ4tdGek1XC3to9JMhpfKl3AEZphUN1RPRTJSMEE4WkowREhMNURTMDdBNUJISi4u"
              %}
              {% include item_kt.html  
                style = "success" 
                name = "Kiểm tra lần 7 - Các thao tác trên CSDLQH" 
                badge = "Tháng 03"
                link = "DXyc3CXGnUGdd0vUJ4tdGek1XC3to9JMhpfKl3AEZphUOEY3UlJZNVZSWTlJMVNOSjQ1V01BRUVUTC4u"
              %}
              {% include item_kt.html
                style = "info"
                name = "Kiểm tra lần 8 - Bảo mật thông tin"
                badge = "Tháng 04"
                link = "DXyc3CXGnUGdd0vUJ4tdGek1XC3to9JMhpfKl3AEZphUNDFUSEJaNDRLVkdJRlZNN1hJOFo5UjRQOS4u"
              %}              
              {% include item_kt.html  
                style = "white" 
                name = "Đề cương chi tiết ôn tập chuẩn bị kiểm tra giữa kỳ." 
                ans = "files/12/on tap GK2.pdf"
                ansName = "Đề cương trắc nghiệm"
                score = "https://www.dropbox.com/sh/ck5qq96g1jc8url/AAC8IkbpgxEShfnsz-PIfyJCa?dl=0"
                scoreName = "Kết quả kiểm tra"
              %}
              {% include item_kt.html  
                style = "white" 
                name = "Đề cương chi tiết ôn tập chuẩn bị kiểm tra cuối kỳ." 
                ans = "files/12/on tap CK2.pdf"
                ansName = "Đề cương trắc nghiệm"
                score = "xxxxx"
                scoreName = "Kết quả kiểm tra"
              %}
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">

      <div class="card text-dark bg-light">
        <div class="card-header bg-dark text-center text-light">
          <h4 class="text-white mb-0">Khối 11</h4>
        </div>
        <div class="card-body ">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Học kỳ I</h5>
              <p class="card-text">Có 3 cột điểm kiểm tra thường xuyên, 1 cột kiểm tra giữa kỳ và 1 cột kiểm tra cuối kỳ.</p>
            </div>
            <ul class="list-group list-group-flush">
              {% include item_kt.html  
                style = "primary" 
                name = "Kiểm tra lần 1 - Khái niệm + Biểu thức" 
                badge = "Tháng 10"
                link = "DXyc3CXGnUGdd0vUJ4tdGek1XC3to9JMhpfKl3AEZphURUdGV09WV09PQVUzUkw1REdMQUZSRjVTUi4u"
              %}
              {% include item_kt.html  
                style = "danger" 
                name = "Kiểm tra lần 2 - IF" 
                badge = "Tháng 11"
                link = "DXyc3CXGnUGdd0vUJ4tdGek1XC3to9JMhpfKl3AEZphUMDNBTjdFWDMzWjJXTDJLNEhZMlA5TzdOOC4u"
              %}
              {% include item_kt.html  
                style = "success" 
                name = "Kiểm tra lần 3 - FOR + WHILE" 
                badge = "Tháng 12"
                link = "DXyc3CXGnUGdd0vUJ4tdGek1XC3to9JMhpfKl3AEZphUQ0JWVjJESzFDVzhCVFZCWEMwQlA4V1MzMy4u"
              %}
              {% include item_kt.html  
                style = "white" 
                name = "Đề cương chi tiết ôn tập chuẩn bị kiểm tra cuối kỳ." 
                ans = "files/11/de cuong CKI.pdf"
                ansName = "Đề cương trắc nghiệm"
                score = "files/11/on tap CKI.pdf"
                scoreName = "Đề cương lý thuyết"
              %}
            </ul>
          </div>
          <hr>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Học kỳ II</h5>
              <p class="card-text">Có 3 cột điểm kiểm tra thường xuyên, 1 cột kiểm tra giữa kỳ và 1 cột kiểm tra cuối kỳ.</p>
            </div>
            <ul class="list-group list-group-flush">
              {% include item_kt.html  
                style = "primary" 
                name = "Kiểm tra lần 4 - ARRAY" 
                badge = "Tháng 01"
                link = "DXyc3CXGnUGdd0vUJ4tdGek1XC3to9JMhpfKl3AEZphUMjA5QjBNUzE3SUtaR0VBQVZPRU9TTTNWTC4u"
              %}
              {% include item_kt.html  
                style = "danger" 
                name = "Kiểm tra lần 5 - STRING" 
                badge = "Tháng 02"
                link = "DXyc3CXGnUGdd0vUJ4tdGek1XC3to9JMhpfKl3AEZphUOTFERU5GVUkxVzFMQ0ZKVlFYRDlNSTEwQy4u"
              %}
              {% include item_kt.html  
                style = "success" 
                name = "Kiểm tra lần 6 - FILE" 
                badge = "Tháng 03"
                link = "DXyc3CXGnUGdd0vUJ4tdGek1XC3to9JMhpfKl3AEZphURTI0NkNFTlNCRzgyUjExUzczTUdNR0VPMy4u"
              %}
              {% include item_kt.html  
                style = "info" 
                name = "Kiểm tra lần 7 - FUNCTION" 
                badge = "Tháng 04"
                link = "DXyc3CXGnUGdd0vUJ4tdGek1XC3to9JMhpfKl3AEZphUMTgyRksyQjBUSDk5MlJWUUpYMTNWOTJDTi4u"
              %}
              {% include item_kt.html  
                style = "white" 
                name = "Đề cương chi tiết ôn tập chuẩn bị kiểm tra giữa kỳ." 
                ans = "files/11/on tap GK2.pdf"
                ansName = "Đề cương trắc nghiệm"
                score = "https://www.dropbox.com/sh/l92blu6jdl2awbt/AADcm9ozzEGUS_-4fXzfiZhGa?dl=0"
                scoreName = "Kết quả kiểm tra"
              %}
              {% include item_kt.html  
                style = "white" 
                name = "Đề cương chi tiết ôn tập chuẩn bị kiểm tra cuối kỳ." 
                ans = "files/11/de cuong CKII.pdf"
                ansName = "Đề cương trắc nghiệm"
                score = "files/11/on tap CKII.pdf"
                scoreName = "Đề cương lý thuyết"
              %}
            </ul>
          </div>
        </div>        
      </div> <!-- End CCard -->
    </div>
  </div>
</div>