{% include top.html %}

<body class="wrap">
  <section class="intro container text-center">
    <svg viewBox="0 0 960 120">
        <symbol id="s-text">
            <text text-anchor="middle" x="50%" y="75%">Opp ... 404</text>
        </symbol>

        <g class = "g-ants">
            <use xlink:href="#s-text" class="text-copy"></use>
            <use xlink:href="#s-text" class="text-copy"></use>
            <use xlink:href="#s-text" class="text-copy"></use>
            <use xlink:href="#s-text" class="text-copy"></use>
            <use xlink:href="#s-text" class="text-copy"></use>
        </g>
    </svg>
    <p>Trang bạn yêu cầu không tồn tại.</p>
</section>

  {{ content }}

  {% include anchor_links.html %}
  {% include analytics.html %}

</body>
</html>
